@charset "UTF-8";

h1 {
    text-align: center;
    font-size: 50px;
}
.title {
    border: 1px solid black;
    box-shadow: 0 0 10px rgb(38, 43, 88);
    border-radius: 20px;
    margin-bottom: 25px;
}

label {
    font-size: 20px;
    margin-right: 20px;
}
.submit {
    height: 50px;
    width: 200px;
    font-size: 20px;
    /* border: 1px solid black; */
    box-shadow: 0 0 10px rgb(38, 43, 88);
    border-radius: 20px;
}
form {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.input {
    padding-bottom: 35px;
}
label {
    padding: 10px;
    border: solid 1px;
    border-radius: 20px;
    box-shadow: 5px 10px 10px rgb(38, 43, 88);
}

